<!DOCTYPE html>

{% load static %}

<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="{% static 'images/soa_logo.png' %}">
        <title> Overview - Mechanical System </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Chen-Xu">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>


        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" style="margin-top: 0;">
                            <img src="{% static 'images/SoA.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html" >Home</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mechanical <span class="caret"></span></a>
                              <div class="dropdown-menu">
                                <ul>
                                    <li><a href="mech-sys-overview.html">Overview</a></li>
                                    <li><a href="mech-sys-nv.html">Passive Design - Natural Ventilation</a></li>
                                    <li><a href="mech-sys-geo.html">Geothermal System</a></li>
                                    <li><a href="mech-sys-ufds.html">Under-Floor Distribution System</a></li>
                                    <li><a href="mech-sys-tcers.html">Tri-Coil Energy-Recovery System</a></li>
                                    <li><a href="mech-sys-location.html">System Location</a></li>
                                </ul>
                              </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lighting <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="lighting-sys-overview.html">Overview</a></li>
                                        <li><a href="lighting-sys-daylighting.html">Passive Design - Daylighting</a></li>
                                        <li><a href="lighting-sys-artificial.html">Artificial Lighting</a></li>
                                        <li><a href="lighting-sys-location.html">System Location</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dynamic Data <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="dynamic-data-mech.html">Mechanical System</a></li>
                                        <li><a href="dynamic-data-lighting.html">Lighting System</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sustainablility <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="sus-energy.html">Net Zero Energy</a></li>
                                        <li><a href="sus-water.html">Net Zero Water</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>


<!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Service</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Service</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!--

==================================================
    Level 1 Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Level 1</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!--

        ==================================================
            Tabs Section Start
        ================================================== -->
        <section class="tab">
<ul class="nav nav-pills nav-stacked col-md-2 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
    <li class="active"><a href="#tab_1a" data-toggle="pill">A</a></li>
    <li><a href="#tab_1b" data-toggle="pill">B</a></li>
    <li><a href="#tab_1c" data-toggle="pill">C</a></li>
    <li><a href="#tab_1d" data-toggle="pill">D</a></li>
    <li><a href="#tab_1f" data-toggle="pill">F</a></li>
    <li><a href="#tab_1h" data-toggle="pill">H</a></li>
    <li><a href="#tab_1os" data-toggle="pill">OS</a></li>
    <li><a href="#tab_1p" data-toggle="pill">P</a></li>
    <li><a href="#tab_1r" data-toggle="pill">R</a></li>
    <li><a href="#tab_1s" data-toggle="pill">S</a></li>
    <li><a href="#tab_1sp" data-toggle="pill">SP</a></li>
    <li><a href="#tab_1t" data-toggle="pill">T</a></li>
    <li><a href="#tab_1unc" data-toggle="pill">UNC</a></li>
</ul>
<div class="tab-content col-md-10 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
        <div class="tab-pane fade active in" id="tab_1a">
             <h4>Pane A</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/A-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1b">
             <h4>Pane B</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/B-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1c">
             <h4>Pane C</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/C-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1d">
             <h4>Pane D</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/D-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1f">
             <h4>Pane F</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/F-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1h">
             <h4>Pane H</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/H-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1os">
             <h4>Pane OS</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/OS-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1p">
             <h4>Pane P</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/P-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1r">
             <h4>Pane R</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/R-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>        
        <div class="tab-pane fade" id="tab_1s">
             <h4>Pane S</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/S-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1sp">
             <h4>Pane SP</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/SP-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1t">
             <h4>Pane T/h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/T-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_1unc">
             <h4>Pane UNC</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/UNC-level1.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>        
</div><!-- tab content -->
    </section>

<!--


==================================================
    Level 2 Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Level 2</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!--

        ==================================================
            Tabs Section Start
        ================================================== -->
        <section class="tab">
<ul class="nav nav-pills nav-stacked col-md-2 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
    <li class="active"><a href="#tab_2a" data-toggle="pill">A</a></li>
    <li><a href="#tab_2b" data-toggle="pill">B</a></li>
    <li><a href="#tab_2d" data-toggle="pill">D</a></li>
    <li><a href="#tab_2e" data-toggle="pill">E</a></li>
    <li><a href="#tab_2f" data-toggle="pill">F</a></li>
    <li><a href="#tab_2h" data-toggle="pill">H</a></li>
    <li><a href="#tab_2os" data-toggle="pill">OS</a></li>
    <li><a href="#tab_2p" data-toggle="pill">P</a></li>
    <li><a href="#tab_2q" data-toggle="pill">Q</a></li>
    <li><a href="#tab_2r" data-toggle="pill">R</a></li>
    <li><a href="#tab_2sr" data-toggle="pill">SR</a></li>
    <li><a href="#tab_2unc" data-toggle="pill">UNC</a></li>
    <li><a href="#tab_2v" data-toggle="pill">V</a></li>
</ul>
<div class="tab-content col-md-10 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
        <div class="tab-pane fade active in" id="tab_2a">
             <h4>Pane A</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/A-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2b">
             <h4>Pane B</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/B-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2d">
             <h4>Pane D</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/D-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2e">
             <h4>Pane E</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/E-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2f">
             <h4>Pane F</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/F-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2h">
             <h4>Pane H</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/H-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2os">
             <h4>Pane OS</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/OS-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2p">
             <h4>Pane P</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/P-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2q">
             <h4>Pane Q</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/Q-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>        
        <div class="tab-pane fade" id="tab_2r">
             <h4>Pane R</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/R-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2sr">
             <h4>Pane SR</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/SR-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2unc">
             <h4>Pane UNC/h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/UNC-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_2v">
             <h4>Pane V</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <img src="{% static 'images/locations/V-level2.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>        
</div><!-- tab content -->
    </section>

<!--
==================================================
    Works Section Start
================================================== -->
<section class="works service-page">
    <div class="container">
        <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms"> </h2>
            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                
            </p>

        </div>
    </div>
</section>



            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action">

            </section>

            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design and Developed by <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. <br>
                            Get More
                            <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">
                                Free Bootstrap Templates
                            </a>
                        </p>
                    </div>
                    
                </div>
            </footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
	<!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script>
    <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
	<!-- owl carouserl js -->
	<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
	<!-- bootstrap js -->
	<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
	<!-- slider js -->
	<script src="{% static 'plugins/slider/slider.js' %}"></script>
	<!-- Fancybox -->
	<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
	<!-- template main js -->
	<script src="{% static 'js/main.js' %}"></script>
 	</body>
</html>
