<!DOCTYPE html>

{% load static %}

<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="{% static 'images/soa_logo.png' %}">
        <title> Electrical Lighting - Lighting System </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Chen-Xu">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>


        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" style="margin-top: 0;">
                            <img src="{% static 'images/SoA.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html" >Home</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mechanical <span class="caret"></span></a>
                              <div class="dropdown-menu">
                                <ul>
                                    <li><a href="mech-sys-overview.html">Overview</a></li>
                                    <li><a href="mech-sys-nv.html">Passive Design - Natural Ventilation</a></li>
                                    <li><a href="mech-sys-geo.html">Geothermal System</a></li>
                                    <li><a href="mech-sys-ufds.html">Under-Floor Distribution System</a></li>
                                    <li><a href="mech-sys-tcers.html">Tri-Coil Energy-Recovery System</a></li>
                                    <li><a href="mech-sys-location.html">System Location</a></li>
                                </ul>
                              </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lighting <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="lighting-sys-overview.html">Overview</a></li>
                                        <li><a href="lighting-sys-daylighting.html">Passive Design - Daylighting</a></li>
                                        <li><a href="lighting-sys-artificial.html">Electrical Lighting</a></li>
                                        <li><a href="lighting-sys-location.html">System Location</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dynamic Data <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="dynamic-data-mech.html">Mechanical System</a></li>
                                        <li><a href="dynamic-data-lighting.html">Lighting System</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sustainablility <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="sus-energy.html">Net Zero Energy</a></li>
                                        <li><a href="sus-water.html">Net Zero Water</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>


<!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Electrical Lighting</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Electrical Lighting</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Electrical Lighting System</h2>
                    <ul class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms"><li style="list-style-type:disc">Used only when daylight isn't sufficient </li>
                        <li style="list-style-type:disc">Primarily energy efficient lights like LED and fluorescent</li>
                        <li style="list-style-type:disc">Occupancy sensors turn off lights when no one is using them </li>
                        <li style="list-style-type:disc">Dimming ballasts ensure only enough electricity as is necessary is used </li>
                        <li style="list-style-type:disc">Lighting control system ensures lights used effectively</li>
                        <li style="list-style-type:disc">Making own electricity offsets electricity usage to make the building zero net energy</li>
                    </ul>

                    <h3 class="wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">General Operating and Control</h3>

                    <ul class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        <li style="list-style-type:disc">Building Management System (BMS) used to monitor energy use</li>
                        <li style="list-style-type:disc">Web interface for monitoring conditions and equipment</li>
                        <li style="list-style-type:disc">Sensors detect daylight and occupancy and change lights to conserve electricity</li>
                        <li style="list-style-type:disc">Occupants can override system when necessary</li>
                        <li style="list-style-type:disc">System can increase energy efficiency</li>
                    </ul>

                    <h3 class="wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Lighting Arrangement Programming</h3>

                    <ul class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        <li style="list-style-type:disc">Two SpecGrade Dimming Panels allow programming of lighting arrangements in several main rooms</li>
                        <li style="list-style-type:disc;">Arrangements are specific sets of lights in specific rooms to best accomodate a given use of the room</li>
                        <li style="list-style-type:disc">Different lights can be used for having a conference versus a presentation</li>
                        <li style="list-style-type:disc">Allows most efficient lighting arrangements to be pre-determined</li>
                        <li style="list-style-type:disc">Arrangements from dimming panels are linked to seeTouch wall stations in the rooms</li>
                        <li style="list-style-type:disc">2-4 potential arrangements each</li>
                        <li style="list-style-type:disc">Occupants tap button for desired scene and lights change</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <img class="img-responsive" src="{% static 'images/lighting/archdaily_artificial_lighting.jpg' %}" alt="" width = "275">
                </div>
                <p class = "reference">From ArchDaily article by The Design Alliance Architects</p>
                <br />
                <div class="block">
                    <img class="img-responsive" src="{% static 'images/lighting/BMS_Phipps_source.jpg' %}" alt="" height = "300" width = "400">
                    <p class = "reference">From Phipps CSL website</p>
                </div>

            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Works Section Start
================================================== -->
<section class="works service-page">
    <div class="container">
        <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">DETAILED FEATURES</h2>
            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                Here are some features of the lighting system and controls with links to specifications and manufacturer's websites. For information about the particular lights used in the building and their locations, please see the System Location page.
            </p>
        <div class="row">
            <div class="col-sm-4">
                 <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="{% static 'images/lighting/EcoSysBallast_01_hero.png' %}" class="img-responsive" alt="EcoSystem Ballast" height = "300">
                        <div class="overlay">
                            <div class="buttons">
                                <a target="_blank" href="http://www.lutron.com/en-US/Products/Pages/FluorescentBallasts/EcoSystemBallasts/Overview.aspx">Details</a>
                                <a rel="gallery" class="fancybox" href="{% static 'images/lighting/EcoSysBallast_01_hero.png' %}">Demo</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Lutron High Efficiency EcoSystem Ballast
                            </a>
                        </h4>
                        <p>
                            Numerous fluorescent lighting fixtures in the CSL use Lutron's High Efficiency EcoSystem Ballast. The ballast can be controlled with the control system and dim the lights so that only as much electricity is used as is absolutely necessary. Using these ballasts can result in 40 to 70% energy savings.
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-4">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="{% static 'images/lighting/Dimming_Panel_square.png' %}" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a target="_blank" href="http://www.lutron.com/TechnicalDocumentLibrary/LCP128-SpecGrade.pdf">Details</a>
                                <a rel="gallery" class="fancybox" href="{% static 'images/lighting/Dimming_Panel_square.png' %}">Demo</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                SpecGrade Dimming Panel
                            </a>
                        </h4>
                        <p>
                            The lighting arrangements are programmed with Lutron's LCP SpecGrade Dimming Panel. The model used in the CSL is LCP16, but a LCP128 model is linked to for more details due to lack of available information about the LCP16. After the lighting arrangements are programmed, they are accessible through the seeTouch panels.
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-4">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="{% static 'images/lighting/seeTouch_picture_square.png' %}" class="img-responsive" alt="seeTouch">
                        <div class="overlay">
                            <div class="buttons">
                                <a target="_blank" href="http://www.lutron.com/TechnicalDocumentLibrary/so-4s.pdf">Details</a>
                                <a rel="gallery" class="fancybox" href="{% static 'images/lighting/seeTouch_picture_square.png' %}">Demo</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                seeTouch Lighting Control Panel
                            </a>
                        </h4>
                        <p>
                            The seeTouch panel can be used to select the desired lighting arrangement in select spaces in the CSL building.
                        </p>
                    </figcaption>
                </figure>
            </div>

        </div>
    </div>
</section>







            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action">

            </section>

            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design and Developed by <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. <br>
                            Get More
                            <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">
                                Free Bootstrap Templates
                            </a>
                        </p>
                    </div>

                </div>
            </footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
	<!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script>
    <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
	<!-- owl carouserl js -->
	<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
	<!-- bootstrap js -->
	<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
	<!-- slider js -->
	<script src="{% static 'plugins/slider/slider.js' %}"></script>
	<!-- Fancybox -->
	<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
	<!-- template main js -->
	<script src="{% static 'js/main.js' %}"></script>
 	</body>
</html>
