<!DOCTYPE html>

{% load static %}

<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="{% static 'images/soa_logo.png' %}">
        <title> Air Distribution System - Mechanical System </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Chen-Xu">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>


        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" style="margin-top: 0;">
                            <img src="{% static 'images/SoA.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html" >Home</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mechanical <span class="caret"></span></a>
                              <div class="dropdown-menu">
                                <ul>
                                    <li><a href="mech-sys-overview.html">Overview</a></li>
                                    <li><a href="mech-sys-nv.html">Passive Design - Natural Ventilation</a></li>
                                    <li><a href="mech-sys-geo.html">Geothermal System</a></li>
                                    <li><a href="mech-sys-ufds.html">Under-Floor Distribution System</a></li>
                                    <li><a href="mech-sys-tcers.html">Tri-Coil Energy-Recovery System</a></li>
                                    <li><a href="mech-sys-location.html">System Location</a></li>
                                </ul>
                              </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lighting <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="lighting-sys-overview.html">Overview</a></li>
                                        <li><a href="lighting-sys-daylighting.html">Passive Design - Daylighting</a></li>
                                        <li><a href="lighting-sys-artificial.html">Artificial Lighting</a></li>
                                        <li><a href="lighting-sys-location.html">System Location</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dynamic Data <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="dynamic-data-mech.html">Mechanical System</a></li>
                                        <li><a href="dynamic-data-lighting.html">Lighting System</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sustainablility <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="sus-energy.html">Net Zero Energy</a></li>
                                        <li><a href="sus-water.html">Net Zero Water</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>


<!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Air Distribution System</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Air Distribution System</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Under-floor Air Distribution System</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">General Introduction</p>
                    <div class="row service-parts">
                        <div class="col-md-12">
                          <p>
                            CSL primarily implements an Under-Floor Air Distribution (UFAD) system for open-plan office, conference room and other occupied space combined with a typical VAV system for other spaces. The selection of UFAD system is due to the fact that it is efficient and consumes low energy compared to other comparable systems. These features are achieved by supplying air from the bottom, introducing ventilation air directly into breathing zone and allowing heat from internal loads to stratify above the occupants. In addition, since the system is lying underfloor, it does not have much aesthetic impact and meanwhile saves plenty of ceiling space.
                          </p>
                        </div>
                    </div>
                    <br>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">System Components</p>
                    <div class="row service-parts">
                        <div class="col-md-12">
                          <p>
                            For a typical UFAD system, there are mainly three components:
                            <ul>
                              <li><p>Underfloor Supply Plenum</p></li>
                              <li><p>Floor Diffuser</p></li>
                              <li><p>Ceiling Return Plenum</p></li>
                            </ul>
                          </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <img class="img-responsive" src="{% static 'images/mech/mech-udfs-1.jpg' %}" alt="">
                    <p class="reference">Source: <a href="http://www.flexiblespace.com/home/products-services/aet-flexible-space-system/system-configuration/">http://www.flexiblespace.com/home/products-services/aet-flexible-space-system/system-configuration/</a></p>
                    <br>
                    <iframe width="480px" height="320px" src="https://www.youtube.com/embed/88hUKbOSd50"></iframe>
                    <br>
                </div>
            </div>
        </div>
        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
          <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Click here for more information about the UFAD system components.
          </a>
        </p>
        <div class="row collapse" id="collapseExample">
          <div class="table-responsive table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>Component</th>
                        <th>Location</th>
                        <th>Damper/Accessories</th>
                        <th>Material</th>
                        <th>Neck&nbsp;Size</th>
                        <th>Make/Model</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
                        <td>Passive Access Floor Diffuser</td>
                        <td>UFAD Area</td>
                        <td>Manual Flow Regulator/Dirt and Dust Receptacle</td>
                        <td>Polymeric</td>
                        <td>9" diameter</td>
                        <td>Titus/TAF-R</td>
                        <td>
                          <a target="_blank" href="https://www.titus-hvac.com/file/724/taf-r%20performance_2013.pdf">
                            <img class="img-responsive" src="{% static 'images/mech/mech-udfs-2.png' %}" alt="TAF-R">
                          </a>
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>Linear Bar Diffuser (0 Deflection)</td>
                        <td>UFAD Area</td>
                        <td>Linear Diffuser Plenum</td>
                        <td>Aluminum</td>
                        <td>6" wide</td>
                        <td>Titus/CT-TAF-L</td>
                        <td>
                          <a target="_blank" href="https://www.titus-hvac.com/file/6472/ct-taf-l%20product_2013.pdf">
                            <img class="img-responsive" src="{% static 'images/mech/mech-udfs-3.png' %}" alt="CT-TAF-L">
                          </a>
                        </td>
                    </tr>
                    <tr class="info">
                        <td>Linear Access Floor Diffuser Plenum</td>
                        <td>UFAD Area</td>
                        <td>Varaible Aperture Plate/24V Actuator</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Titus/TAF-L-V</td>
                        <td>
                          <a target="_blank" href="https://www.titus-hvac.com/Products/UnderFloor/TAF-L-V">
                            <img class="img-responsive" src="{% static 'images/mech/mech-udfs-4.png' %}" alt="TAF-L-V">
                          </a>
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>VAV Diffuser-Analog</td>
                        <td>Ceiling Based Diffuser Area (Break Out Area)</td>
                        <td>Power Module and Cables</td>
                        <td>Steel</td>
                        <td>Per Drawing</td>
                        <td>Titus/T3SQ-1</td>
                        <td>
                          <a target="_blank" href="https://www.titus-hvac.com/flv/t3sq-1_control_disc_opentoclosed.flv">
                            <img class="img-responsive" src="{% static 'images/mech/mech-udfs-5.png' %}" alt="T3SQ-1">
                          </a>
                        </td>
                    </tr>
                    <tr class="info">
                        <td>Ceiling Diffuser</td>
                        <td>Ceiling Based Diffuser Area (Work Room and Toilet)</td>
                        <td>Opposed Blade Damper</td>
                        <td>Aluminum</td>
                        <td>Per Drawing</td>
                        <td>Titus/TMSA-AA</td>
                        <td>
                          <a target="_blank" href="https://www.titus-hvac.com/Products/Diffusers/TMSA-AA">
                            <img class="img-responsive" src="{% static 'images/mech/mech-udfs-6.png' %}" alt="TMSA-AA">
                          </a>
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>Return/Transfer/Exhasut Grill</td>
                        <td>All Areas</td>
                        <td>Opposed Blade Damper</td>
                        <td>Aluminum</td>
                        <td>Per Drawing</td>
                        <td>Titus/4FL</td>
                        <td>
                          <a target="_blank" href="https://www.titus-hvac.com/Products/Grilles/4FL#">
                            <img class="img-responsive" src="{% static 'images/mech/mech-udfs-7.png' %}" alt="4FL">
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
</section>

            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design and Developed by <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. <br>
                            Get More
                            <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">
                                Free Bootstrap Templates
                            </a>
                        </p>
                    </div>

                </div>
            </footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
	<!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script>
    <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
	<!-- owl carouserl js -->
	<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
	<!-- bootstrap js -->
	<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
	<!-- slider js -->
	<script src="{% static 'plugins/slider/slider.js' %}"></script>
	<!-- Fancybox -->
	<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
	<!-- template main js -->
	<script src="{% static 'js/main.js' %}"></script>
 	</body>
</html>
