<!DOCTYPE html>

{% load static %}

<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="{% static 'images/soa_logo.png' %}">
        <title> Geothermal System - Mechanical System </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Chen-Xu">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>


        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" style="margin-top: 0;">
                            <img src="{% static 'images/SoA.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html" >Home</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mechanical <span class="caret"></span></a>
                              <div class="dropdown-menu">
                                <ul>
                                    <li><a href="mech-sys-overview.html">Overview</a></li>
                                    <li><a href="mech-sys-nv.html">Passive Design - Natural Ventilation</a></li>
                                    <li><a href="mech-sys-geo.html">Geothermal System</a></li>
                                    <li><a href="mech-sys-ufds.html">Air Distribution System</a></li>
                                    <li><a href="mech-sys-tcers.html">Tri-Coil Energy-Recovery System</a></li>
                                    <li><a href="mech-sys-location.html">System Location</a></li>
                                </ul>
                              </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lighting <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="lighting-sys-overview.html">Overview</a></li>
                                        <li><a href="lighting-sys-daylighting.html">Passive Design - Daylighting</a></li>
                                        <li><a href="lighting-sys-artificial.html">Electrical Lighting</a></li>
                                        <li><a href="lighting-sys-location.html">System Location</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="dynamic-data.html">Dynamic Data</a>
                            </li>
                             <li>
                                <a href="sustainability.html">Sustainability</a>
                            </li>
                                                      
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>


<!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Geothermal System</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Geothermal System</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Geothermal System</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">General Introduction</p>
                    <div class="row service-parts">
                        <div class="col-md-12">
                             <p>A geothermal system is installed as one of the energy conservation approaches and a significant contributor towards the net zero energy consumption achieved by CSL. It primarily works with the rooftop AHU to provide energy for heating and cooling. There are 14 wells installed 510 feet deep and 20 feet on center from well to well. These wells provide warm water during winter and cool water during summer to the AHU to save energy for heating and cooling. It is estimated that these wells are able to capture 70% of the energy use for heating and cooling.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <img class="img-responsive" src="{% static 'images/mech/mech-geo-2.jpg' %}" alt="">
                    <p class="reference">Source by course instructor</p>
                </div>
            </div>
        </div>
        <br>
        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
            System Specification
            <br>
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Click here for more information.
            </a>
        </p>
        <div class="row collapse" id="collapseExample">
            <div class="col-md-6">
                <div class="block">
                    <div class="row service-parts">
                        <div class="col-md-12">
                             <p>In the geothermal system of CSL, the geothermal loop water pumps are located in the mechanical room on the first floor of CSL. Below lists the system specification.</p>
                             <br>
                             <div class="table-responsive table-bordered">
                                <table class="table" style="margin-bottom: 0;">
                                    <thead>
                                        <tr class="primary">
                                            <th>Type</th>
                                            <th>Field</th>
                                            <th>Specification</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="info">
                                            <td rowspan="6">Heat Pump General</td>
                                            <td>Model Type</td>
                                            <td>Liqui-chill Dual Circuit Indoor Water Souce Heat Pump Model #LC-DORPMWSO-34-4-SP</td></tr>

                                        <tr class="info">
                                            <td>Refrigerant</td>
                                            <td>R-134A</td></tr>

                                        <tr class="info">
                                            <td>Suction Temperature</td>
                                            <td>40 °F (4.44 °C)</td></tr>

                                        <tr class="info">
                                            <td>Condensing Temperature</td>
                                            <td>110 °F (43.33 °C)</td>
                                        </tr>
                                        <tr class="info">
                                            <td>Unit EER</td>
                                            <td>13.86</td>
                                        </tr>
                                        <tr class="info">
                                            <td>Electrical Data</td>
                                            <td>460 Volts, 3PH, 60HZ/FLA 75, Min fuse size 100 Amp Time Delay Type</td>
                                        </tr>
                                        <tr class="warning">
                                            <td rowspan="3">Compressor</td>
                                            <td>Model Type</td>
                                            <td>Bitzer Direct Drive Compressor Model 4H.2Y</td>
                                        </tr>

                                        <tr class="warning">
                                            <td>Compressor Motor Power</td>
                                            <td>25 HP (18642.5 W) each-(Dual Circuit)</td></tr>

                                        <tr class="warning">
                                            <td>Compressor Power</td>
                                            <td>16.93 BHP (166094.42 W) each-(Dual Circuit)</td></tr>

                                        <tr class="info">
                                            <td rowspan="2">Condenser</td>
                                            <td>Model Type</td>
                                            <td>Brazed Water Cooled Plate Heat Pump Model HPI5B-DX-D</td>
                                        </tr>

                                        <tr class="info">
                                            <td>Condensing Water Flow Rate</td>
                                            <td>45 GPM (10.22 m<sup>3</sup>/h) each condenser (90 GPM (20.44 m<sup>3</sup>/h) in total) based on 90 °F (32.22 °C) water</td>
                                        </tr>
                                        <tr class="warning">
                                            <td rowspan="4">Ground Field</td>
                                            <td>GSHP bore hole radius</td>
                                            <td>0.073 m (0.24 ft)</td>
                                        </tr>

                                        <tr class="warning">
                                            <td>GSHP bore hole length</td>
                                            <td>155.450 m (510.01 ft)</td>
                                        </tr>

                                        <tr class="warning">
                                            <td>Ground thermal heat capacity</td>
                                            <td>2250000 J/m<sup>3</sup>.k (33.55 Btu/ft<sup>3</sup>.°F)</td>
                                        </tr>

                                        <tr class="warning">
                                            <td>Ground thermal conductivity</td>
                                            <td>2.86 W/m.k (1.65 Btu/hr.ft.°F)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <img class="img-responsive" src="{% static 'images/mech/mech-geo-3.png' %}" alt="">
                    <p class="reference">GSHP Schematic Diagram (source: Josh Wentz, Architectural Engineering Thesis Final Report, URL: http://http://www.solaripedia.com/files/1195.pdf)</p>
                </div>
                <div class="block">
                    <img class="img-responsive" src="{% static 'images/mech/mech-geo-4.gif' %}" alt="">
                    <p class="reference">Geothermal System for winter and summer scenarios (Source from S2016 Assignment 1 by Nilesh et al., Modified by Chen, 2018)</p>
                </div>
            </div>
        </div>
    </div>
</section>
            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design and Developed by <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. <br>
                            Get More
                            <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">
                                Free Bootstrap Templates
                            </a>
                        </p>
                    </div>
                </div>
            </footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
	<!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script>
    <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
	<!-- owl carouserl js -->
	<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
	<!-- bootstrap js -->
	<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
	<!-- slider js -->
	<script src="{% static 'plugins/slider/slider.js' %}"></script>
	<!-- Fancybox -->
	<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
	<!-- template main js -->
	<script src="{% static 'js/main.js' %}"></script>
 	</body>
</html>
