<!DOCTYPE html>

{% load static %}

<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="{% static 'images/soa_logo.png' %}">
        <title> Physical Location - Mechanical System </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Chen-Xu">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>


        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" style="margin-top: 0;">
                            <img src="{% static 'images/SoA.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html" >Home</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mechanical <span class="caret"></span></a>
                              <div class="dropdown-menu">
                                <ul>
                                    <li><a href="mech-sys-overview.html">Overview</a></li>
                                    <li><a href="mech-sys-nv.html">Passive Design - Natural Ventilation</a></li>
                                    <li><a href="mech-sys-geo.html">Geothermal System</a></li>
                                    <li><a href="mech-sys-ufds.html">Under-Floor Distribution System</a></li>
                                    <li><a href="mech-sys-tcers.html">Tri-Coil Energy-Recovery System</a></li>
                                    <li><a href="mech-sys-location.html">System Location</a></li>
                                </ul>
                              </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lighting <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="lighting-sys-overview.html">Overview</a></li>
                                        <li><a href="lighting-sys-daylighting.html">Passive Design - Daylighting</a></li>
                                        <li><a href="lighting-sys-artificial.html">Electrical Lighting</a></li>
                                        <li><a href="lighting-sys-location.html">System Location</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="dynamic-data.html">Dynamic Data</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sustainablility <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="sus-energy.html">Net Zero Energy</a></li>
                                        <li><a href="sus-water.html">Net Zero Water</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>


<!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Mechanical System Locations</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Mechanical System Locations</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!--

==================================================
    Level 1 Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">HVAC system</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!--

        ==================================================
            Tabs Section Start
        ================================================== -->
        <section class="tab">
<ul class="nav nav-pills nav-stacked col-md-2 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
    <li class="active"><a href="#tab_TE" data-toggle="pill">Toilet Exhaust</a></li>
    <li><a href="#tab_CR" data-toggle="pill">Ceiling Return</a></li>
    <li><a href="#tab_CS" data-toggle="pill">Ceiling Supply</a></li>
    <li><a href="#tab_SD" data-toggle="pill">Swirl Diffuser</a></li>
    <li><a href="#tab_LD" data-toggle="pill">Linear Diffuser</a></li>
    <li><a href="#tab_US" data-toggle="pill">Underfloor Supply</a></li>
</ul>
<div class="tab-content col-md-10 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
        <div class="tab-pane fade active in" id="tab_TE">
             <h4>Toilet Exhaust</h4>
            <p>Exhaust fan with VFD
                <img src="{% static 'images/mech/toilet exhaust.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_CR">
             <h4>Ceiling Return</h4>
            <p>
                <img src="{% static 'images/mech/ceiling return.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_CS">
             <h4>Ceiling Supply</h4>
            <p> Supply fan with VFD
                
                <img src="{% static 'images/mech/ceiling supply.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_SD">
             <h4>Swirl Diffuser</h4>
            <p> Ceiling diffuser
                
                <img src="{% static 'images/mech/swirl diffuser.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_LD">
             <h4>Linear Diffuser</h4>
            <p>
               
                <img src="{% static 'images/mech/linear diffuser.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
        <div class="tab-pane fade" id="tab_US">
             <h4>Underfloor Supply</h4>
            <p>
                <img src="{% static 'images/mech/underfloor supply.png' %}" class="img-responsive" alt="A-level1" >
            </p>
        </div>
       
</div><!-- tab content -->
    </section>

<!--

==================================================
    Works Section Start
================================================== -->
<section class="works service-page">
    <div class="container">
        <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms"> </h2>
            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                
            </p>

        </div>
    </div>
</section>



            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design and Developed by <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. <br>
                            Get More
                            <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">
                                Free Bootstrap Templates
                            </a>
                        </p>
                    </div>
                </div>
            </footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
	<!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script>
    <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
	<!-- owl carouserl js -->
	<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
	<!-- bootstrap js -->
	<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
	<!-- slider js -->
	<script src="{% static 'plugins/slider/slider.js' %}"></script>
	<!-- Fancybox -->
	<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
	<!-- template main js -->
	<script src="{% static 'js/main.js' %}"></script>
 	</body>
</html>
