<!DOCTYPE html>

{% load static %}

<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="{% static 'images/soa_logo.png' %}">
        <title> Physical Location - Mechanical System </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Chen-Xu">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>


        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" style="margin-top: 0;">
                            <img src="{% static 'images/SoA.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html" >Home</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mechanical <span class="caret"></span></a>
                              <div class="dropdown-menu">
                                <ul>
                                    <li><a href="mech-sys-overview.html">Overview</a></li>
                                    <li><a href="mech-sys-nv.html">Passive Design - Natural Ventilation</a></li>
                                    <li><a href="mech-sys-geo.html">Geothermal System</a></li>
                                    <li><a href="mech-sys-ufds.html">Air Distribution System</a></li>
                                    <li><a href="mech-sys-tcers.html">Tri-Coil Energy-Recovery System</a></li>
                                    <li><a href="mech-sys-location.html">System Location</a></li>
                                </ul>
                              </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lighting <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="lighting-sys-overview.html">Overview</a></li>
                                        <li><a href="lighting-sys-daylighting.html">Passive Design - Daylighting</a></li>
                                        <li><a href="lighting-sys-artificial.html">Electrical Lighting</a></li>
                                        <li><a href="lighting-sys-location.html">System Location</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="dynamic-data.html">Dynamic Data</a>
                            </li>
                             <li>
                                <a href="sustainability.html">Sustainability</a>
                            </li>
                                                      
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>


<!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Mechanical System Locations</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Mechanical System Locations</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!--

==================================================
    Level 1 Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">HVAC System</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!--

        ==================================================
            Tabs Section Start
        ================================================== -->
        <section class="tab">
<ul class="nav nav-pills nav-stacked col-md-2 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
    <li class="active"><a href="#tab_TE" data-toggle="pill">Exhaust Duct</a></li>
    <li><a href="#tab_CR" data-toggle="pill">Ceiling Return</a></li>
    <li><a href="#tab_SD" data-toggle="pill">Swirl Diffuser</a></li>
    <li><a href="#tab_LD" data-toggle="pill">Linear Diffuser</a></li>
    <li><a href="#tab_US" data-toggle="pill">Underfloor Supply</a></li>
    <li><a href="#tab_CS" data-toggle="pill">Ceiling Supply</a></li>
</ul>
<div class="tab-content col-md-10 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
        <div class="tab-pane fade active in" id="tab_TE">
             <h4>Exhaust Duct</h4>
             <p>Exhaust duct convey potentially harmful contaminants, and hence is:
                    <li style="list-style-type:disc">Negatively pressuized</li>
                    <li style="list-style-type:disc">Sealed in accordanced with SMACNA Seal Class A (described in HVAC Duct Construction Standards, Metal and Flexible, 2nd Edition)</li>
                    <p class="reference">Source: Josh Wentz architectural engineering thesis</p>
             </p>
             <p>The duct is connected to the AHU to cool the outside air.
             <a Target = "_blank" href="mech-sys-tcers.html">More info</a>
                <ul><li><b>Exhaust grille:</b> Titus 4FL
                    <a Target = "_blank" href="https://www.titus-hvac.com/Products/Grilles/4FL-NT">More info</a></li>
                    <li><b>Ceiling diffuser:</b> Titus TMSA-AA
                    <a Target = "_blank" href="https://www.titus-hvac.com/Products/Diffusers/TMS">More info</a></li>
                </ul>
            </p> 
            <p>
                <img src="{% static 'images/mech/toilet exhaust.png' %}" class="img-responsive" alt="A-level1" >
                <p class="reference">Source: Building Controls and Diagnostics S16 Group 3</p>
            </p>
        </div>
        <div class="tab-pane fade" id="tab_CR">
             <h4>Ceiling Return</h4>
             <p>The duct collects air from the Under-Floor Air Distribution system and is mixed with the outside air in the AHU.
             <br><a Target = "_blank" href="mech-sys-tcers.html">More info</a>
                <ul><li><b>Return grille:</b> Titus 4FL
                    <a Target = "_blank" href="https://www.titus-hvac.com/Products/Grilles/4FL-NT">More info</a></li>
                </ul>
            </p> 
            <p>
                <img src="{% static 'images/mech/ceiling return.png' %}" class="img-responsive" alt="A-level1" >
                <p class="reference">Source: Building Controls and Diagnostics S16 Group 3</p>
            </p>
        </div>
        <div class="tab-pane fade" id="tab_SD">
             <h4>Swirl Diffuser</h4>
             <p>Diffusers are installed on the floor in the middle of the room to provide more ventilation for occupants.
                <ul><li><b>Underfloor diffuser:</b> Titus TAF-R
                    <a Target = "_blank" href="https://www.titus-hvac.com/Products/UnderFloor/TAF-R">More info</a></li>
                </ul>
            </p> 
            <p>    
                <img src="{% static 'images/mech/swirl diffuser.png' %}" class="img-responsive" alt="A-level1" >
                <p class="reference">Source: Building Controls and Diagnostics S16 Group 3</p>
            </p>
        </div>
        <div class="tab-pane fade" id="tab_LD">
             <h4>Linear Diffuser</h4>
             <p> The linear diffusers are installed around the perimeter and is composed of two diffusers coupled together, one for supply, one for return.
                <ul><li><b>Supply diffuser:</b> Titus TAF-L-V
                    <a Target = "_blank" href="https://www.titus-hvac.com/Products/UnderFloor/TAF-L-V">More info</a></li>
                    <li><b>Return diffuser:</b> Titus CT-TAF-L
                    <a Target = "_blank" href="https://www.titus-hvac.com/file/6472/ct-taf-l%20product_2013.pdf">More info</a></li>
                </ul>
            </p>
            <p>              
                <img src="{% static 'images/mech/linear diffuser.png' %}" class="img-responsive" alt="A-level1" >
                <p class="reference">Source: Building Controls and Diagnostics S16 Group 3</p>
            </p>
        </div>
        <div class="tab-pane fade" id="tab_US">
             <h4>Underfloor Supply</h4>
            <p>This duct is underneath the floor level and supplies air to the diffusers to provide for ventilation.
            <br><a Target = "_blank" href="mech-sys-ufds.html">More info</a>
            </p>
            <p>
                <img src="{% static 'images/mech/underfloor supply.png' %}" class="img-responsive" alt="A-level1" >
                <p class="reference">Source: Building Controls and Diagnostics S16 Group 3</p>
            </p>
        </div>
        <div class="tab-pane fade" id="tab_CS">
             <h4>Ceiling Supply</h4>
             <p>The ceiling supply supplements the Under-Floor Air Distribution system in providing fresh air for ventilation.
                <ul><li><b>VAV diffuser:</b> Titus T3SQ-1
                    <a Target = "_blank" href="https://www.master.ca/documents/regroupements/Titus_T3SQ_Description.pdf">More info</a></li>
                </ul>
            </p>
            <p> 
                <img src="{% static 'images/mech/ceiling supply.png' %}" class="img-responsive" alt="A-level1" >
                <p class="reference">Source: Building Controls and Diagnostics S16 Group 3</p>
            </p>
        </div>
       
</div><!-- tab content -->
    </section>

<!--

==================================================
    Works Section Start
================================================== -->
<section class="works service-page">
    <div class="container">
        <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms"> </h2>
            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                
            </p>

        </div>
    </div>
</section>



            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">Copyright: 48721 Building Controls & Diagnostics S18 CSL Group (Chen,Nelson,Pong)
                        </p>
                    </div>
                </div>
            </footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
	<!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script>
    <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
	<!-- owl carouserl js -->
	<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
	<!-- bootstrap js -->
	<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
	<!-- slider js -->
	<script src="{% static 'plugins/slider/slider.js' %}"></script>
	<!-- Fancybox -->
	<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
	<!-- template main js -->
	<script src="{% static 'js/main.js' %}"></script>
 	</body>
</html>
