<!DOCTYPE html>

{% load static %}

<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="{% static 'images/soa_logo.png' %}">
        <title>Sustainability</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>


        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" >
                            <img src="{% static 'images/SoA.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html" >Home</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mechanical <span class="caret"></span></a>
                              <div class="dropdown-menu">
                                <ul>
                                    <li><a href="mech-sys-overview.html">Overview</a></li>
                                    <li><a href="mech-sys-nv.html">Passive Design - Natural Ventilation</a></li>
                                    <li><a href="mech-sys-geo.html">Geothermal System</a></li>
                                    <li><a href="mech-sys-ufds.html">Air Distribution System</a></li>
                                    <li><a href="mech-sys-tcers.html">Tri-Coil Energy-Recovery System</a></li>
                                    <li><a href="mech-sys-location.html">System Location</a></li>
                                </ul>
                              </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lighting <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="lighting-sys-overview.html">Overview</a></li>
                                        <li><a href="lighting-sys-daylighting.html">Passive Design - Daylighting</a></li>
                                        <li><a href="lighting-sys-artificial.html">Electrical Lighting</a></li>
                                        <li><a href="lighting-sys-location.html">System Location</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="dynamic-data.html">Dynamic Data</a>
                            </li>
                             <li>
                                <a href="sustainability.html">Sustainability</a>
                            </li>
                                                      
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>
        

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Sustainable Features</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Sustainability</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!--=====================================
=            Full Width Blog            =
======================================-->
<section id="blog-full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">

                    <div class="blog-content">
                        <h2 class="blogpost-title">
                        <a href="post-fullwidth.html">Net Zero Energy</a>
                        </h2>
                        <p>
                        The CSL achieves net zero energy by using an outside-in, passive-first approach, which is beneficial to both occupant comfort and building performance. The CSL is designed to minimze the energy usage of the building by optimizing the building orientation, envelope, window placement, and using geothermal wells for heating and cooling. To compensate for the energy usage, the solar panels and wind turbine on site generates all electricity needed by the building.
                        </p>
                        <div class="blog-post-image">
                            <img class="img-responsive" src="{% static 'images/net zero energy.jpg' %}" alt="" />
                            <p class="reference">Photo courtesy of The Design Alliance</p>
                        </div>
                        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        A - 14 Geothermal wells captures the heating and cooling energy from the Earth's consistent 55F temperature to heat/cool the AHU. <br>
                        B -  125 kW of onsite solar panels generate most electricity and meets the annual energy demand of the building. <br>
                        C - An evacuated tube solar hot water system and heat from the Phipps conservatory and greenhouse was used in the radiant floor system to provide heating during the winter if needed. <br>
                        D - The tri-coil rooftop mechanical unit maximizes the usage of outdoor air and the geothermal wells to minimize the need for mechanical refrigeration. <br>
                        E - A 10kW vertical axis turbine can generate electricity with wind as low as 4.25 mph, but is not the main source of energy for the building. <br>
                        F - The underfloor air distribution system is a low energy option to provide consistent ventilation throughout the building. <br>
                        G - Electricity generated on site provides for 100% of the CSL's energy demand. <br>
                        H - Extra energy generated is fed back to Phipps' main campus. <br>
                        </p>
                        
                    </div>
                                            
        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Click here for performance metric.
            </a>
        </p>
        <div class="row collapse" id="collapseExample">                       
                    <p class="subtitle-des" data-wow-delay=".5s" data-wow-duration="500ms">
                        Total pEUI: 19 kBtu/sf/yr <br> Total EUI actual: 18 kBtu/sf/yr <br> Net pEUI: -2 kBtu/sf/yr <br> Net EUI actual: -3 kBtu/sf/yr <br> Percent Reduction from National Median EUI for Building Type (predicted): 72% <br> Percent reduction actual: 73.80% <br> Lighting Power Density: 0.57 watts/sf
                       </p>
                       </div>
                    
                </article>
                <article class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                    <div class="blog-content">
                        <h2 class="blogpost-title">
                        <a href="post-fullwidth.html">Net Zero Water</a>
                        </h2>
                        <p>
                        The 2.9-acre CSL site is net-zero water, managing all rainfall and treating all sanitary waste on site. The CSL can manage a 10-year storm event within the site boundaries (3.3” of rain in 24 hours) through soil- and vegetation-based systems like green roofs, rain gardens, bioswales, lagoon, pervious asphalt, and high performance native landscapes. Some harvested water will be reused to offset daily irrigation demand in Phipps’ conservatory spaces, significantly reducing the campus’ need for municipal water supply and the energy required to treat and deliver it to Phipps. All of the building’s wastewater is treated on site using settling tanks, constructed wetlands, sand filters, and UV filters prior to reuse as flush water for all the building’s restrooms.
                        </p>
                    <div class="blog-post-image">
                         <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">Rainwater 
                        <img class="img-responsive" src="{% static 'images/rainwater.jpg' %}" alt="">
                        <p class="reference">Photo courtesy of The Design Alliance </p>
                    
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">    
                        A - Approximately 500,000 gallons of rooftop runoff are harvested from the CSL and from adjacent buildings. <br>
                        B - Harvested water are stored in underground storage tanks.<br>
                        C - Some harvested water are retained in lagoons for landscaping purposes. <br>
                        D - Rain gardens can alleviate the demand on the stormwater management system and is used for landscaping purposes. <br>
                        E - Excess storm water can drain through the pervious asphalt back to the earth. <br>
                        F - Pumps are used to transfer excess water from the lagoons and rain gardens back to the storage tank. <br>
                        G - A small amount of ground water is drawn from the non-potable well. <br>
                        </p>
                           
                         <p class="subtitle-des" data-wow-delay=".5s" data-wow-duration="500ms">Sanitary Water</P>
                        <img class="img-responsive" src="{% static 'images/sanitary water.jpg' %}" alt="">
                        <p class="reference">Photo courtesy of The Design Alliance</p>
                        
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">    
                        A - Septic tanks are used for primary treatment of wastewater through settling and anaerobic processes. <br>
                        B - Constructed wetlands provide secondary treatment of the wastewater from filtration through plants. <br>
                        C - Sand filters and UV filtration provide the most thorough filtration and disinfection for the water to meet gray water standards.<br>
                        D - Pumps are used to transfer treated water to the tanks and the building.<br>
                        E - Treated water is stored in storage tanks. <br>
                        F - An Epiphany Solar Water system makes use of parabolic solar dishes to generate heat and generate power to distillate water to pharmaceutical standards. <br>
                        </p>
                    </div>

        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
            <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                Click here for performance metric.
            </a>
        </p>
        <div class="row collapse" id="collapseExample1">                       
                    <p class="subtitle-des" data-wow-delay=".5s" data-wow-duration="500ms">
                    Percent reduction of regulated potable water: 93% <br> Is potable water used for irrigation: No <br> Percent of rainwater from maximum anticipated 24 hour, 2-year storm event that can be managed onsite: 100% 
                     </p>
         </div>
                    
          </article>
            </div>
        </div>
    </div>
</section>
             <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">48721 Building Controls & Diagnostics S18 CSL Group (Chen,Nelson,Pong)
                        </p>
                    </div>
                </div>
            </footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
	<!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script>
    <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
	<!-- owl carouserl js -->
	<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
	<!-- bootstrap js -->
	<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
	<!-- slider js -->
	<script src="{% static 'plugins/slider/slider.js' %}"></script>
	<!-- Fancybox -->
	<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
	<!-- template main js -->
	<script src="{% static 'js/main.js' %}"></script>
 	</body>
</html>